.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  // border: 1px solid;
  // background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  background-color: var(--main-color);
  transition: 0.5s;
  // &.scrolled {
  //   background-color: var(--main-color);
  // }

  .container {
    padding: 0px 50px;
    align-items: center;
    justify-content: space-between;
    .left {
      img {
        height: 25px;
        cursor: pointer;
      }
      span {
        cursor: pointer;
      }
    }
    .right {
      align-items: center;
      cursor: pointer;
    }
  }
}
