.featured {
  height: 90vh;
  position: relative;

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    select {
      cursor: pointer;
      background-color: var(--main-color);
      border: 1px solid white;
      color: white;
      margin-left: 20px;
      padding: 5px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: white;
    display: flex;
    flex-direction: column;

    img {
      width: 300px;
    }
    .description {
      margin: 20px 0px;
    }
    .buttons {
      display: flex;
      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 600;
        margin-right: 10px;
        cursor: pointer;
        &.play {
          background-color: white;
          color: var(--main-color);
          &:hover {
            background-color: #cccece;
          }
        }
        &.more {
          background: rgba(gray, 0.3);
          color: white;
          &:hover {
            background-color: #313131;
          }
        }
        span {
          margin-left: 5px;
        }
      }
    }
  }
}
