.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  img {
    width: 100%;
    // height: 100%;
    // height: auto;
    object-fit: cover;
  }
  &:hover {
    width: 325px;
    height: 300px;
    img {
      height: 140px;
    }
  }
}
